body {
  font-family: serif;
  background-image:  url(https://img.freepik.com/premium-photo/phones-12-right-side-white-background_187299-23951.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 900px;
}