body {
  font-family: serif;
  background-image:  url(https://img.freepik.com/premium-photo/phones-12-right-side-white-background_187299-23951.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 900px;
}

header {
  position: fixed;
  justify-content: space-between;
}

#nav-bar {
  display: inline-block;
  padding:0px;
  color:#fff;
  font-size:24px;
  font-weight:bold;
  margin-bottom:5px;
  margin-left: 900px;
  float: right;
  display: flex;
}

.form {
  display: inline-block;
  margin-left: 980px;
}

::placeholder {
  padding: 5px;
}

#email {
  border: 2px solid black;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  box-shadow: 5px 10px 5px #4e818d;
  border: none;
}
  
#submit{
  border: 2px solid black;
  border-radius: 5px;
  height: 40px;
  box-shadow: 5px 10px 5px #4e818d;
  border: none;
}

#submit:hover {
  background-color: #356784;
}

#nav-bar li {
  float: right;
  padding: 16px 25px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
  list-style-type: none;
}

#nav-bar li a {
  text-decoration: none;
  color: black;
}

#nav-bar li a:hover {
  color: #356784;
}

#header-img{
  width:50px;
  height: auto;
}
h1 {
  padding: 180 10 10 30;
}
  
p {
  font-size: 18px;  
  margin-left: 20px;
}

.button {
  background-color: #688ca1;
  border: none;
  border-radius: 8px;;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 10px 30px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
}

#video {
  align-items: center;
  margin-top: 200px;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  margin-top: 600px;
  margin-bottom: 30px;
}