body {
  font-family: serif;
  background-image: url(https://img.freepik.com/premium-photo/phones-12-right-side-white-background_187299-23951.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 900px;
}

header {
  position: fixed;
  justify-content: space-between;
}

#nav-bar {
  display: inline-block;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 900px;
  float: right;
}

.form {
  display: inline-block;
  margin-left: 980px;
}

::placeholder {
  padding: 5px;
}

#email {
  border-radius: 5px;
  width: 200px;
  height: 40px;
  box-shadow: 5px 10px 5px #4e818d;
  border: none;
}

#submit {
  border-radius: 5px;
  height: 40px;
  box-shadow: 5px 10px 5px #4e818d;
  border: none;
}

#submit:hover {
  background-color: #356784;
}

.footer-icons li {
  display: inline-block;
}

#nav-bar li {
  float: right;
  padding: 16px 25px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
  list-style-type: none;
}

.footer-container a {
  color: rgb(4, 3, 21);
  padding: 42px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
}

#nav-bar li a {
  text-decoration: none;
  color: black;
}

#nav-bar li a:hover {
  color: #356784;
}

#header-img {
  width: 50px;
  height: auto;
}

h1 {
  padding: 180 10 10 30;
}

p {
  font-size: 18px;
  margin-left: 20px;
}

.button {
  background-color: #688ca1;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 10px 30px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
}

#video {
  align-items: center;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  margin-top: 600px;
  margin-bottom: 30px;
}

footer {
  background-color: #688ca1;
  color: #fff;
  text-align: center;
  height: 100px;
  width: 100%;
  padding: 80px 0;
  position: sticky;
}

.footer-left {
  margin-right: auto;
}

.fa:hover {
  color: #f1f0f8;
}

.footer-icons {
  justify-content: space-between;
  padding: 16px 64px;
}

.footer-right {
  margin-left: auto;
}

.copyright {
  color: #000205;
  overflow: hidden;
  padding-left: 22px;
}

@media (max-height: 600px) {
  #header-img {
    width: 50px;
    height: auto;
  }
}

@media (max-height: 600px) {
  .form {
    display: inline-block;
    margin-left: 78%;
    vertical-align: top;
    position: relative;
  }
}
